/* style.css */
/*css*/

*{
  box-sizing: border-box;
}

body{
  background: #f8f8ff ;
  color: #414a4c ;
  font-family: "Roboto", sans-serif ;
  font-weight: 300 ;
  padding: 20px ;
}

.container{
  max-width: 1170px;
  margin-left: auto ;
  margin-right: auto ;
  padding: 20px ;

}

.nav-bar{
  background: #85a7b2 ;
  padding: 5px ;
  color: #414a4c ;
  font-weight: 700 ;
}
.nav-bar button {
  background: #f8f8ff;
  border: 1px ;
  text-transform: uppercase ;
  text-decoration: none ;

}


.nav-bar a{
  text-decoration: none;
  color:  #414a4c
}

.nav-bar button:hover, .nav-bar button:focus{
  background:  #85a7b2;
  color: #ffffff;
  outline: 0 ;
  transition: background-color 2s ease-out ;

}

.navbar .portfolio button{
  color: #ffffff;
}

.header{
  text-align: center;
}
.header span{
  color: #85a7b2 ;

}

.wrapper{
  background: #f8f8ff  ;
   box-shadow: 10px 10px 20px 10px  ;
 }

 .wrapper > *{
   padding: 10px ;
 }

.contact{
  text-align: center;
  background: #85a7b2 ;

}



  ul{
  text-align: center;
  font-size: 14px ;
  list-style: none ;
  padding: 0 ;
}

.contact-2 form {
  display: grid ;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px ;
}

.contact-2 form label {
  display: block;
}

.contact-2 form p{
  margin: 0 ;
}

.contact-2 form .full{
  grid-column: 1 / 3 ;
}

.contact-2 form button, .contact-2 form input, .contact-2 form textarea{
  width: 100% ;
  padding: 10px;
  border: 1px solid #85a7b2
}

.contact-2 form button{
  background: #85a7b2 ;
  border: 0 ;
  text-transform: uppercase ;
}

.contact-2 form button:hover,.contact-2 form button:focus {

background: #414a4c;
color: #ffffff;
outline: 0 ;
transition: background-color 2s ease-out ;

}


.alert{
  text-align: center;
  padding: 10px ;
  background:#008000;
  color: white ;
  margin-bottom: 10px ;
  display: none;

}
/*large screens*/

@media(min-width:700px){
  .wrapper{
    display: grid ;
    grid-template-columns: 1fr 2fr ;
  }

  .wrapper > *{
    padding: 20px ;
  }

  .contact h3{
    text-align: left;
  }

ul{
  text-align: left ;
}

}
